<!DOCTYPE html>
<html>
<head>
  <title>Zomeki book library</title>
  <%= stylesheet_link_tag    "zomeki_book_library/application", media: "all" %>
  <%= javascript_include_tag "zomeki_book_library/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
